{%- assign page_paths = site.header_pages | default: default_paths -%}

{{ site.baseurl_root }}
{% if site.lang == "fr" %}
  {% capture link1 %}{{ site.baseurl_root }}/en{{ page.url }}{% endcapture %}
  <a href="{{ link1 }}" >i want to read english</a>
{% elsif site.lang == "en" %}
  {% capture link2 %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
  <a href="{{ link2 }}" >je veux lire du français</a>
{% endif %}

<div class="top-right">
  <a href="{% tl shop %}"> {% t titles.shop %}</a>
</div>

<header>
  <div class="menu">
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          <li><a href="{% tl my_page.namespace %}">{% t my_page.title %}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>