img {
  width: 100%;
	&.hidden-link {
		width: 10%;
	}
}

.side_by_side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 0;

    .child {
        padding: 1%;
        max-width: 46%;
    }
}

.top-right {
    text-align: right;
}

header {
    margin-top: 5px;
}