---
layout: default
---
<a href="https://www.youtube.com/watch?v=gDBk3OpvHHU" width=100px><img src="/assets/images/lisbeth_petite.jpg" class="hidden-link" alt="coucou je suis lisbeth, celle de la dernière chanson de l'album de please_don't, clique pour voir le clip avec moi dedans"></a>
<a href="https://www.youtube.com/watch?v=CxzXF5R6H_Y" width=100px><img src="/assets/images/cow.jpg" class="hidden-link" alt="coucou je suis la vache, celle du clip de nothing_to_say, le 2e morceau de l'album de please_don't, clique pour voir le clip !"></a>

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

{%- if site.posts.size > 0 -%}
  <ul>
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = "%Y-%m-%d" -%}
      [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}